<!DOCTYPE html>
<html>
<head>

	<style>
		#et1 {
		margin-bottom: 10px;
		background-color: limegreen;
		font-size: 50px;
		text-align: center;   
		}	

	</style>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript">

	</script> 

	<title>PROYECTO</title>
</head>

<body>
	
	<h1 id='et1'>
		SISTEMAS EMBEBIDOS
	</h1>
<center> 
	<img id="imagen" width="500" height="300" src="https://telecomunicacionesschool.files.wordpress.com/2016/12/telecomunicaciones.jpg" alt="user">
</center>
	
	<h1 style="color: forestgreen;">Valor S1: <h id="sensor1" style="color: white;"></h></h1>
	<h1 style="color: forestgreen;">Valor S2: <h id="sensor2" style="color: white;"></h></h1>
	


	<p style="text-align: center;">
		<button id="LED1 On" style="background-color: greenyellow; color: black; border-radius: 15px; border-color: white; border-width: 2px; font-weight: 800; font-size: 15px; padding: 15px 30px; box-shadow: 0 6px 16px 0 rgba(0,0,0,0.20), 0 6px 20px 0 rgba(0,0,0,0.16); transition-duration: 0.4s;" type="button" onclick="LED1_On()"Valores
		</button> 
	</p>
	
	

	<script>
	/*
	function LED1_On() {
		alert("led on");
		console.log("led on");
	  
	}
	function LED1_Off(){
		alert("led off");
		console.log("led off");
	}
	*/
	</script>

	<script src="/static/js/index.js"> </script>

</body>
</html>
